name: Spellcheck Action
on:
  pull_request:

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0

      - name: Get all changed markdown files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 #v47.0.1
        id: changed_files
        with:
          files: |
             **.md

      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0bf4b2f91efa259b52c202b09b0c3845c524ff36 #v0.58.0
        with:
          task_name: Markdown
          source_files: ${{ steps.changed_files.outputs.all_changed_files }}
